<div id="wrapper">
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
    <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination"></agm-direction>
    <agm-marker [latitude]="latitude" [longitude]="longitude" [iconUrl] ="{url: '../../../assets/2x/baseline_room_black_18dp.png'}" [markerDraggable]="true"
      (dragEnd)="markerDragEnd($event)"></agm-marker>
      <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
      (dragEnd)="markerDragEnd1($event)"></agm-marker>
  </agm-map>
  <div id="over_map1" style="width: 500px;"> 
    <form fxLayout="row wrap" [formGroup]="geolocation" style="margin: 20px;">
      <h1>Place Order</h1>
      <mat-form-field fxFlex="100" style="display: block;" appearance="outline" >
        <mat-label>Search Origin</mat-label>
        <input matInput formControlName="search_origin" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search1>
    </mat-form-field> 
      <mat-form-field fxFlex="100" style="display: block;" appearance="outline" >
          <mat-label>Origin</mat-label>
          <input matInput formControlName="origin" required readonly/>
          <mat-error *ngIf="geolocation.get('origin').invalid">Origin is required</mat-error>
      </mat-form-field>
        <mat-form-field fxFlex="100" style="display: block;" appearance="outline" >
          <mat-label>Search Destination</mat-label>
          <input matInput formControlName="search_dest" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search2>
      </mat-form-field> 
      <mat-form-field fxFlex="100" style="display: block;" appearance="outline" >
        <mat-label>Destination</mat-label>
        <input matInput formControlName="destination" required readonly/>
        <mat-error *ngIf="geolocation.get('destination').invalid">Destination is required</mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="100" style="display: block" appearance="outline" >
      <mat-label>Vehicle</mat-label>
      <mat-select (selectionChange)="select($event.value)" formControlName="vehicle" >
        <mat-option>Select Vehicle</mat-option>
        <mat-option *ngFor="let x of vehicles" [value]="x.value">
          {{x.value}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="geolocation.get('vehicle').invalid">Vehicle is required</mat-error>
  </mat-form-field>
      <!-- <mat-form-field fxFlex="100" style="display: block;" appearance="outline" >
        <mat-label>Type</mat-label>
        <mat-select formControlName="typeof" >
          <mat-option *ngFor="let x of type" [value]="x">
            {{x}}
          </mat-option>
        </mat-select>
    </mat-form-field>  
    <mat-form-field fxFlex="75"style="display: block;" appearance="outline" >
      <mat-label>Quantity</mat-label>
      <input matInput formControlName="quantity" required />
  </mat-form-field> 
  <mat-form-field fxFlex="22" style="display: block;margin-left: 10px;" appearance="outline" >
    <mat-label>Units</mat-label>
    <mat-select formControlName="unit" >
      <mat-option *ngFor="let x of units" [value]="x">
        {{x}}
      </mat-option>
    </mat-select>
</mat-form-field>    -->
      <button *ngIf="this.confirmOrder==false;else content" fxFlex="30"mat-raised-button type="submit"  color="primary" (click)="getDirection()">Select Vehicle</button>
      <ng-template #content> <button fxFlex="30"mat-raised-button type="button"  color="primary" (click)="saveForm()">Order</button></ng-template>
    </form>
</div>

</div>

<div fxLayout="row wrap" id="over_map2" style="visibility: hidden;;min-width:100%;height:200px;">
  
  <div id="back1" fxFlex="11.8" >
    <img src="assets/tata-ace-gold-55853.jpeg" class="image" (click)="this.myfunction('back1','Tata Ace Gold')" height="180px"> 
  </div>

  <div id="back2" fxFlex="11.8">
    <img src="assets/ashok-leyland-dost-strong.jpeg" class="image" (click)="this.myfunction('back2','Ashok Leyland Dost Strong')" height="180px"> 
  </div>

  <div id="back3" fxFlex="11.8">
    <img src="assets/mahindra-bolero-pick-up.jpg" class="image" (click)="this.myfunction('back3','Mahindra Bolero Pickup')" height="180px"> 
  </div>

  <div id="back4" fxFlex="11.8">
    <img src="assets/tata-407.jpg" class="image" (click)="this.myfunction('back4','Tata 407')" height="180px"> 
  </div>

  <div id="back5" fxFlex="11.8">
    <img src="assets/eicher-19ft.jpg" class="image" (click)="this.myfunction('back5','Eicher 19ft')" height="180px"> 
  </div>
</div>