agm-map {
  height: calc(100vh - 6vh);
}
#wrapper {
  position: relative;
}
#over_map1 {
  background: white;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 99;
}
#over_map2 {
  background: white;
  position: absolute;
  bottom: 0px;
  z-index: 99;
}
