<mat-drawer-container class="example-container" style="height: auto;">
    <mat-drawer style="width: 300px;" mode="side" opened>
        <h2 style="padding-top:20px;padding-left: 20px;">User Account</h2>
        <mat-divider></mat-divider>
          <button (click)="onClick(1)"mat-menu-item>Account Info</button>
          <mat-divider></mat-divider>
          <button (click)="onClick(2)" mat-menu-item>Past Orders</button>
          <mat-divider></mat-divider>
          <button (click)="onClick(3)" mat-menu-item>Active Orders</button>
          <mat-divider></mat-divider>
    </mat-drawer>
    <mat-drawer-content >
        <div fxLayout="row wrap" >
            <div *ngIf="div==1" fxFlex="100" style="padding:20px;">
                <mat-card style="height: 800px;">
                    <div class="example-container">
                      <h1>User Info</h1>
                        <form  fxLayout="row wrap" [formGroup]="user">
                            <mat-form-field  fxFlex="45" style="display: block;" appearance="outline" >
                                <mat-label>First Name</mat-label>
                                <input matInput formControlName="fname" placeholder="Enter your first name" />
                            </mat-form-field>
                            <mat-form-field fxFlex="45" style="display: block;" appearance="outline" >
                                <mat-label>Last Name</mat-label>
                                <input matInput formControlName="lname" placeholder="Enter your last name" />
                            </mat-form-field>
                            <br>
                            <button fxFlex="10"mat-raised-button type="button" style="margin-top: 10px;"(click)="update()" color="primary" >Update</button>
                        </form>
                      </div>
                </mat-card>
            </div>
            <div *ngIf="div==2" fxFlex="100" style="padding:20px;">
                <mat-card style="height: 900px;">
                    <div class="example-container">
                      <h1>Past Orders</h1>
                        <table mat-table [dataSource]="dataSource" >
                            <!--- Note that these columns can be defined in any order.
                                  The actual rendered columns are set as a property on the row definition" -->
                          
                            <!-- Position Column -->
                            <ng-container matColumnDef="date">
                              <th mat-header-cell *matHeaderCellDef>Date</th>
                              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                            </ng-container>
                          
                            <!-- Name Column -->
                            <ng-container matColumnDef="order_id">
                              <th mat-header-cell *matHeaderCellDef>Order ID</th>
                              <td mat-cell *matCellDef="let element"> {{element.order_id}} </td>
                            </ng-container>
                          
                            <!-- Weight Column -->
                            <ng-container matColumnDef="weight">
                              <th mat-header-cell *matHeaderCellDef> Weight </th>
                              <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                            </ng-container>
                          
                            <!-- Symbol Column -->
                            <ng-container matColumnDef="origin">
                              <th mat-header-cell *matHeaderCellDef>Origin</th>
                              <td mat-cell *matCellDef="let element"> {{element.origin}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="destination">
                              <th mat-header-cell *matHeaderCellDef>Destination</th>
                              <td mat-cell *matCellDef="let element"> {{element.x}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="action">
                              <th mat-header-cell *matHeaderCellDef>Action</th>
                              <td mat-cell *matCellDef="let element">
                              <button mat-raised-button type="button" (click)="reorder(element)" color="primary" >Reorder</button>
                            </td>
                            </ng-container>
                          
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table>                          
                    </div>
                </mat-card>
            </div>
            <div *ngIf="div==3" fxFlex="100" style="padding:20px;">
              <mat-card style="height: 900px;">
                <div class="example-container">
                  <h1>Active Orders</h1>
                  <table mat-table [dataSource]="dataSource1" >
                      <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->
                    
                      <!-- Position Column -->
                      <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef>Date</th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                      </ng-container>
                    
                      <!-- Name Column -->
                      <ng-container matColumnDef="order_id">
                        <th mat-header-cell *matHeaderCellDef>Order ID</th>
                        <td mat-cell *matCellDef="let element"> {{element.order_id}} </td>
                      </ng-container>
                    
                      <!-- Weight Column -->
                      <ng-container matColumnDef="weight">
                        <th mat-header-cell *matHeaderCellDef> Weight </th>
                        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                      </ng-container>
                    
                      <!-- Symbol Column -->
                      <ng-container matColumnDef="origin">
                        <th mat-header-cell *matHeaderCellDef>Origin</th>
                        <td mat-cell *matCellDef="let element"> {{element.origin}} </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="destination">
                        <th mat-header-cell *matHeaderCellDef>Destination</th>
                        <td mat-cell *matCellDef="let element"> {{element.x}} </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>Action</th>
                        <td mat-cell *matCellDef="let element">
                        <button mat-raised-button type="button" (click)="reorder(element)" color="primary" >Edit Order</button>
                        <button mat-raised-button type="button" style="margin-left: 5px;"(click)="reorder(element)" color="accent" >Cancel Order</button>
                      </td>
                      </ng-container>
                    
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>                          
              </div>
                </mat-card>
                </div>
        </div>       
    </mat-drawer-content>
  </mat-drawer-container>