<mat-drawer-container class="example-container">
    <mat-drawer style="width: 300px;" mode="side" opened>
        <h2>User Account</h2>
        <mat-divider></mat-divider>
          <button mat-menu-item>Account Info</button>
          <mat-divider></mat-divider>
          <button mat-menu-item>Past Orders</button>
          <mat-divider></mat-divider>
          <button mat-menu-item>Active Orders</button>
          <mat-divider></mat-divider>
    </mat-drawer>
    <mat-drawer-content >
        <div fxLayout="row wrap" >
            <div  fxFlex="100" style="padding:20px;">
                <mat-card style="height: 800px;">
                    hi
                </mat-card>
            </div>
            
        </div>
        
        
    </mat-drawer-content>
  </mat-drawer-container>