<div fxLayout="column wrap" fxLayoutGap="32px">
  <div fxFlex="100">
<mat-card fxFlex="75" style="margin: auto;">  
        <h1>Sign-in Shipper</h1>
        <button mat-raised-button color="primary" type="button" (click)="authService.GoogleAuth()">
          Log in with Google
        </button>
        <button mat-raised-button color="primary" type="button" (click)="openDialog()">
          Log in with Phone
        </button>
        <a routerLink="/shippersignup">Not Registered? Please click here</a>
</mat-card>
</div>
</div>