<div fxLayout="column" fxLayoutGap="32px">
  <div fxFlex="100">
    <mat-card fxFlex="100" style="margin: auto;"> 
      <div [hidden]="user">  
        <ng-template #content><h2 for="phone">Phone Number</h2></ng-template>
        <input type="text" [(ngModel)]="phoneNumber.country" class="input" placeholder="Enter Your Country Code" maxlength="2">
          <br/><br/>
        <input type="text" [(ngModel)]="phoneNumber.line" class="input" placeholder="Enter Your Mobile Number" maxlength="10">  
          <br/><br/>
        <div id="recaptcha-container" style="transform:scale(0.6);transform-origin:0 0"></div>

        <button (click)="sendLoginCode()">SMS Text Login Code</button>
      
        <div *ngIf="windowRef.confirmationResult">
          <hr>
          <label for="code">Enter your Verification Code Here</label><br>
          <input type="text" name="code" [(ngModel)]="verificationCode">
      
          <button (click)="verifyLoginCode()">Verify</button>
        </div> 
      </div>
      
      <div *ngIf="user">
        You have successfully logged in with your phone number!
      
        UserId: {{ user?.uid }}
      
      </div>
    </mat-card>
  </div>
</div>