<div fxLayout="column wrap" fxLayoutGap="32px">
<div fxFlex="100">
  <mat-card fxLayout="column wrap" fxLayoutAlign="center center" fxFlex="50" style="margin: auto;padding: 50px;">
    <h1 *ngIf="this.type==2;else signup">Register Carrier</h1>
    <ng-template #signup> <h1 >Register Shipper</h1></ng-template> 
    <mat-divider style="position: relative;"></mat-divider>
              <br/> 
          <button *ngIf="!this.register.value.uid;else signup1" mat-raised-button color="primary" type="button" (click)="openDialog()">
            <span style="padding:1rem;" class="material-icons">local_phone</span> Register with Phone
          </button>
          <ng-template #signup1>
          <form [formGroup]="register">
            <mat-form-field style="display: block;" appearance="outline" >
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" required />
                <mat-error *ngIf="register.get('firstName').invalid">First Name is required</mat-error>         
              </mat-form-field>
            <mat-form-field style="display: block;" appearance="outline" >
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" required />
                <mat-error *ngIf="register.get('lastName').invalid">Last Name is required</mat-error>
            </mat-form-field>  
            <mat-form-field style="display: block;" appearance="outline" >
                <mat-label>Phone Number</mat-label>
                <input matInput formControlName="phonNumber" required />
                <mat-error *ngIf="register.get('phonNumber').invalid">Phone Number is required</mat-error>
            </mat-form-field>  
            <button mat-raised-button type="submit"  color="primary" (click)="saveForm()">Save</button>
          </form>
        </ng-template>
        <br/>
        <button mat-button color="primary" type="button" style="float:right;" (click)="prevPage()">
          <span class="material-icons">
            arrow_back
            </span>
        </button>
  </mat-card> 
  </div>
  </div>