<div [class.mat-elevation-z24]="isActive">
    <mat-toolbar color="primary">
        <img src="assets/trucks1.png" height="50px" width="50px" style="margin-right:10px">
        <span style="font-size: 30px;" [style.cursor]="'pointer'" routerLink="/">Trans India</span>      
        <span class="example-spacer"></span>
        <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px"  >
        <span routerLink="/shippermap">Shipper</span>
        <span routerLink="/carriermap">Carrier</span>
        <button *ngIf="this.title=='LOGIN';else logout" mat-raised-button (click)="openDialog()" color="accent">Login</button>
        <ng-template #logout> <button mat-raised-button (click)="Logout()" color="accent">Logout</button></ng-template>
    </div>
    </mat-toolbar>
</div>
<router-outlet></router-outlet>