<div [class.mat-elevation-z24]="isActive">
    <mat-toolbar color="primary">
        <span class="material-icons md-48">local_shipping</span>
        <span [style.cursor]="'pointer'" routerLink="/">TIL</span>      
        <span class="example-spacer"></span>
        <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px"  >
        <button mat-raised-button color="primary" (click)="shipper()">Shipper</button>
        <button mat-raised-button color="primary" (click)="carrier()">Carrier</button>
        <button *ngIf="this.title=='LOGIN';else logout" mat-raised-button (click)="openDialog()" color="accent">Login</button>
        <ng-template #logout> <button mat-raised-button (click)="Logout()" color="accent">Logout</button></ng-template>
    </div>
    </mat-toolbar>
</div>
<router-outlet></router-outlet>