<div>
    <br/>
<div class = "header">
    <h1 class="mat-display-3">Transport India Limited</h1>
    <h2 class="mat-title">Connecting India, one business at a time...</h2>
</div>
<br/>
<h1 class="mat-display-1" style="text-align: center;">What we offer</h1>
<div fxLayout="row wrap" fxLayoutAlign="space-around end" style="text-align: center;">
    <mat-card fxFlex="0 1 calc(33.3% - 32px)" >
        <h1 class="mat-h1">Pick up and drop</h1>
        <mat-list>
            <mat-list-item><span class="material-icons" style="margin-right: 2%;" >location_on</span>anywhere in the country</mat-list-item>
            <mat-list-item><span class="material-icons" style="margin-right: 2%;">location_on</span>domestic and enterprise </mat-list-item>
            <mat-list-item><span class="material-icons" style="margin-right: 2%;">location_on</span>click, pick and drop </mat-list-item>
        </mat-list>
    </mat-card>
    <mat-card fxFlex="0 1 calc(33.3% - 32px)" style="height: 280px;">
        <h1 class="mat-h1">Shippers and Carriers</h1>
        <mat-list>
            <mat-list-item><span class="material-icons" style="margin-right: 2%;">local_shipping</span> directly connected on a single platform </mat-list-item>
            <mat-list-item><span class="material-icons" style="margin-right: 2%;">local_shipping</span> tracking facility </mat-list-item>
            <mat-list-item><span class="material-icons" style="margin-right: 2%;">local_shipping</span> flexible and easy </mat-list-item>
        </mat-list>
    </mat-card>
    <mat-card fxFlex="0 1 calc(33.3% - 32px)">
        <h1 class="mat-h1">Quality Service</h1>
        <mat-list>
            <mat-list-item><span class="material-icons" style="margin-right: 2%;">support_agent</span> assurance on every shipment/load </mat-list-item>
            <mat-list-item><span class="material-icons" style="margin-right: 2%;">support_agent</span> help center access </mat-list-item>
            <mat-list-item><span class="material-icons" style="margin-right: 2%;">support_agent</span> phone & email support </mat-list-item>
        </mat-list>
    </mat-card>
</div>
<br/>
<div style="background-color: #3F51B5; margin: 10px; background: rgba(#3F51B5, 0.5);">  
<div fxLayout="row" fxLayoutAlign="start center">
    <div style="margin: 15px; color: white;">
        <h1 class="md-display-2">Helping keep the world safe</h1>
        <h3 class="md-headline">The world is no longer as we know it. 
            Everything has changed. 
            We are taking an active stance towards making our platform safe given the pandemic situation.
            <br/><br/>
            <button mat-flat-button>Learn more</button>
        </h3>
    </div>
    <div style="margin:15px;">
        <img src="assets/home.jpg" class="image"> 
    </div>
</div>
</div>
<div style="margin: 10px;">  
    <div fxLayout="row" fxLayoutAlign="start center">
        <div style="margin:15px;">
            <img src="assets/home-bg.jpg" class="image"> 
        </div>
        <div style="margin: 15px;">
            <h1 class="md-display-2">Connecting clients directly</h1>
            <h3 class="md-headline">Quality service, safety and punctual delivery - shipping at it's best.
                <br/><br/>
                <button mat-flat-button>Learn more</button>
            </h3>
        </div>
    </div>
    </div>
    <h1>Angular 10 Material Carousel Slider</h1>

  <mat-carousel
  timings="200ms ease-in"
  [autoplay]="true"
  interval="6000"
  color="white"
>
  <mat-carousel-slide
    *ngFor="let slide of slides; let i = index"
    [image]="slide.image"
    overlayColor="#ffffff"
    [hideOverlay]="false"
  ></mat-carousel-slide>
</mat-carousel>
</div>