.header {
  background-image: url('../../../assets/trucks4.jpg');
  color: black;
  min-height: 30%;
  opacity: 80%;
}
.header > h1 {
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 0%;
  margin: 0%;
}

.header > h2 {
  padding-left: 5%;
  padding-top: 2%;
}
