<div>
   <div fxFlex="100">
    <mat-card fxFlex="100" style="margin: auto;"> 
      <div [hidden]="user">  
        <div>
       <form [formGroup]="phonenumber">
        <h2 for="phone">Phone Number</h2>
        <mat-form-field style="display: block;" appearance="outline" >
          <mat-label>Country Code</mat-label>
          <input matInput formControlName="country" placeholder="Enter Your Country Code" maxlength="2" required />
          <mat-error *ngIf="phonenumber.get('country').errors?.required">Country Code is required</mat-error>  
        </mat-form-field>
          <mat-form-field style="display: block;" appearance="outline" >
            <mat-label>Mobile Number</mat-label>
            <input matInput formControlName="line" minlength="10" maxlength="10" required />
            <mat-error *ngIf="phonenumber.get('line').errors?.required">Mobile Number is required</mat-error>  
            <mat-error *ngIf="phonenumber.get('line').errors?.minlength ">Please Enter a Valid Mobile Number</mat-error> 
        </mat-form-field>  
        <div id="recaptcha-container" ></div>
        <br/>
        <button mat-raised-button type="submit"  color="primary" (click)="sendLoginCode()" style="float:right">SMS Text Login Code</button>
        <div *ngIf="windowRef.confirmationResult">
          <hr>
          <mat-form-field style="display: block;" appearance="outline" >
            <mat-label>Enter your Verification Code Here</mat-label>
            <input matInput formControlName="code" required />
        </mat-form-field> 
        <button mat-raised-button type="submit"  color="primary" (click)="verifyLoginCode()" style="float:right">Verify</button>
        </div> 
       </form>
        </div>
      </div>
    </mat-card>
   </div>
</div>